<a href = "/client_sign_in" style ="text-align:right;">User Sign In</a>

<div class = "container">
  <div class= "row">
<h1 class = "display-1">Demystifying your compensation</h1>
  </div>
  <div class = "container">
<form action ="/begin_service">
<button class="btn btn-primary mb-2" style = "text-align:center;">Start</button>
</form>
  </div>
</div>
