<h1>Value your Options</h1>

<div>
  <div>
    <h2>
      Add a new options plan
    </h2>

    <form action="/store_offer_cookies" method="post">
       <div>
        <label for="company">
          Company
        </label>

        <select id="company_box" name="query_company">
        <%Company.all.each do |a_company|%>
          <option value ="<%=a_company.company_name%>">
                  <%=a_company.company_name%>
          </option>
        <%end%>
        </select>
      </div>

        <label for="stock_type">
          Stock Type
        </label>
        <select id="stock_type_box" name="query_stock_type">
        <%stock_type = ["ISR","NSR"]%>
        <%stock_type.each do |a_stock_type|%>
          <option value ="<%=a_stock_type%>">
                  <%=a_stock_type%>
          </option>
        <%end%>
        </select>

      <div>
        <label for="number_of_options">
          Number of Options
        </label>

        <input type="text" id="number_of_options" name="query_number_of_options">
      </div>

      <div>
        <label for="strike_price">
          Strike Price
        </label>

        <input type="text" id="strike_price" name="query_strike_price">
      </div>

      <div>
        <label for="vesting_years">Vesting Years</label>
        <input type="text" id="vesting_years" name="query_vesting_years" value="1">
      </div>

      <div>
        <label for="cliff">
          Cliff
        </label>

        <input type="text" id="cliff_box" name="query_cliff">
      </div>

      <p></p>

      <button>
        Create offer
      </button>
    </form>
  </div>
</div>
